{% extends "app/layout.html" %}

{% block content %}

<h2>{{ MinhaEmpresa }}MinhaEmpresa.</h2><br />
<h3>{{ message }}</h3>

<p>Com tantos desafios no dia a dia, por que se preocupar com os problemas de rede? Uma rede eficiente e estável é essencial, além de evitar gastos desnecessários e imprevistos que podem comprometer seu negócio. Com o monitoramento de redes da MinhaEmpresa, você tem reports periódicos sobre a performance, facilidade de comunicação, análise de tendências, perfis de tráfegos, prevenção de problemas e muito mais.</p>

{% endblock %}
