{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}MinhaEmpresa.</h2><br />
<h3>{{ message }}Vinicius Ribeiro de Lima - RA:1801174</h3>

<address>
    MinhaEmpresa - Vinicius Ribeiro de Lima<br />
    Avenida Rudge, 123<br />
    <abbr title="Telefone">Tel:</abbr>
    91234-4567
</address>

<address>
    <strong>Suporte:</strong>   <a href="#">MinhaEmpresa@suporte.com</a><br />
    <strong>Marketing:</strong> <a href="#">ViniciusLiima@marketing.com</a>
</address>

{% endblock %}
